<tui-root class="root">
    <div class="page">
        <div class="page-container">
            <input type="text" placeholder="Currency..." [(ngModel)]="searchString" class="table-search">
            <div *ngIf="data">
                <div class="table-wrapper">
                    <table class="table">
                        <tr>
                            <th class='table-heading'></th>
                            <td *ngFor="let item of cut(data[0].values)" class="table-elem">
                                {{item.date | date: 'dd/MM/yyyy'}}
                            </td>
                            <td *ngFor="let item of (7 - cut(data[0].values).length) | number" class="table-elem">
                            </td>
                        </tr>
                        <tr *ngFor="let currency of data | filter : 'name' : searchString; let i = index">
                            <th class="table-heading">{{currency.name}}</th>
                            <td *ngFor="let day of cut(currency.values)" class="table-elem"
                                [ngClass]="{'value-min': isExtreme(day.rate, currency.values, 'min'), 'value-max': isExtreme(day.rate, currency.values, 'max') }">
                                {{day.rate}}</td>
                            <td *ngFor="let item of (7 - cut(data[0].values).length) | number" class="table-elem">
                            </td>
                        </tr>
                    </table>
                </div>
                <tui-table-pagination [total]="total" [(page)]="page" [(size)]="size" class="table-pagination">
                </tui-table-pagination>
            </div>
            <tui-input-date-range class="b-form" [formControl]="control">
                Choose dates
            </tui-input-date-range>

        </div>
    </div>

</tui-root>